.heading {
  color: var(--color-gray);
  line-height: 2.5rem;
}
.websiteName {
  font-size: 2rem;
}
.introText {
  text-align: center;
}
.btnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.motivation {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--color-gray);
  margin-bottom: 2rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.contactOptions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--color-gray);
}
/**/
