.article {
  margin: 1rem 0;
  line-height: 1.8rem;
  font-size: 1.1rem;
}
.title {
  font-weight: 400;
  font-size: 2.8rem;
  margin: 2rem 0;
  line-height: 3.5rem;
  /* font-family: "MijaW03-Bold", var(--font-family-1); */
}
.summary {
  margin: 1rem 0;
}
.summaryTitle {
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  font-size: 1.1rem;
}
.summaryIcon {
  font-size: 0.9rem;
  margin-top: 3.4px;
  margin-left: 4px;
  margin-right: 5px;
}
.line {
  height: 2px;
  background: var(--bg-gradient);
  margin-bottom: 1rem;
}
.imgContainer {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0 auto;
}
.content {
  line-height: 1.3;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
  font-weight: 500;
}
.content code {
  margin: 1rem;
  border-radius: 0.6rem;
  font-family: var(--font-family-2);
  font-size: 0.9rem;
}
