.imgContainer {
  width: 100%;
  min-height: 250px;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.img {
  transition: var(--transition);
}
.img:hover {
  transform: scale(1.06);
}
.title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.8rem;
  color: rgb(31 36 40/1);
  cursor: pointer;
}
